body{
	overflow: hidden;
}
#pagemain{
	padding-top: 60px;
}
.gray-back{
	position: relative;
	top: 20px;
    padding: 10px 8px 10px 8px;

}
.yellow-bar-back {


    padding: 10px 8px 10px 8px;
    }
    
@media only screen and (max-width: 768px) {
	
    #right-sidebar{
    	display: none;
    }
}
@media only screen and (min-width: 768px) {
	
	#custom_html-7.active{
		top: 10px;
		 width: 244px; 
		 position: fixed;
	}
	
	#toc-widget-3.active{
		top: 40px;
		 width: 244px; 
		 position: fixed;
	}
}